.results-list {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 8px #ddd;
  margin-top: 1rem;
  border-radius: 10px;
  max-height: 300px;
  overflow-y: scroll;
  position: absolute;
  top: 75px;
}

.search-result {
  padding: 10px 20px;
}

.search-result:hover {
  background-color: #efefef;
  cursor: pointer;
}

@media (max-width: 480px) {
  .results-list {
    position: static;
  }
}