.search-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-card-image {
  width: 50%;
  margin: 10px 0px;
}

.search-card-label {
  font-weight: bold;
  margin-top: 10px;
  display: none;
}

@media (max-width: 480px) {
  .search-card-label {
    display: block;
  }
}