.search-bar-container {
  padding-top: 20px;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
  height: 100%;
  /* this tells the div that there will be an absolute positioned child */
  position: relative;
}

.label-container {
  width: 100%;
  margin: 5px 0px;
}